.sidebar{
    background: #1b3764;
    color: #ffffff;
    height: 100%;
    width:300px;
    padding: 20px 50px 20px 5px;
    text-align:left;
}

.sidebar ul li{
    list-style-type: none;
    
    text-align:center;
}
 
.menulist a{
    width: 52px;

    height: 23px;
  
    font-family: Muli;
  
    font-size: 18px;
  
    font-weight: 800;
  
    font-style: normal;
  
    font-stretch: normal;
  
    line-height: 1.28;
  
    letter-spacing: normal;
  
    /* text-align: left; */
  
    color: var(--white);
}
table td{
padding: 15px;
margin: 5px;

}

.menulist li{
}