<div class="sidebar">
  <ul class="menulist" style="text-align: right;">
    
<!--     
    <li><img src="../../assets/Mask Group 1.png">&nbsp;&nbsp;&nbsp;&nbsp;<a routerLink="/home" style="color:#ffffff;">Home</a></li><br>
    <li><img src="../../assets/Mask Group 2.png">&nbsp;&nbsp;&nbsp;&nbsp;<a routerLink="/dashboard" style="color:#ffffff;">Dashboard</a></li><br>
    <li><img src="../../assets/icons8-diploma-100-3.png">&nbsp;&nbsp;&nbsp;&nbsp;<a routerLink="/certificate" style="color:#ffffff;">Certificate</a></li><br>
    <li><img src="../../assets/icons8-wallet-100-3.png">&nbsp;&nbsp;&nbsp;&nbsp;<a routerLink="/wallet" style="color:#ffffff;">Wallet</a></li><br>
    <li><img src="../../assets/Mask Group 4.png">&nbsp;&nbsp;&nbsp;&nbsp;<a routerLink="/kyc" style="color:#ffffff;">KYC</a></li><br>
    <li><img src="../../assets/Mask Group 5.png">&nbsp;&nbsp;&nbsp;&nbsp;<a routerLink="/settings" style="color:#ffffff;">Settings</a></li> -->
    <table>
      <tr>
        <td align="left"><img src="../../assets/Mask Group 1.png"></td>
        <td align="left"><a routerLink="/home" style="color:#ffffff;">Home</a></td>
      </tr>
      <tr>
        <td align="left"><img src="../../assets/Mask Group 2.png"></td>
        <td align="left"><a routerLink="/dashboard" style="color:#ffffff;">Dashboard</a></td>
      </tr>
      <tr>
        <td align="left"><img src="../../assets/icons8-diploma-100-3.png"></td>
        <td align="left"><a routerLink="/certificate" style="color:#ffffff;">Certificate</a></td>
      </tr>
      <tr>
        <td align="left"><img src="../../assets/icons8-wallet-100-3.png"></td>
        <td align="left"><a routerLink="/wallet" style="color:#ffffff;">Wallet</a></td>
      </tr>
      <tr>
        <td align="left"><img src="../../assets/Mask Group 4.png"></td>
        <td align="left"><a routerLink="/kyc" style="color:#ffffff;">KYC</a></td>
      </tr>
      <tr>
        <td align="left"><img src="../../assets/Mask Group 5.png"></td>
        <td align="left"><a routerLink="/settings" style="color:#ffffff;">Settings</a></td>
      </tr>

    </table>
    <!-- <li><a routerLink="/about">About</a></li>
    <li><a routerLink="/contact">Contact</a></li> -->
    
    
  </ul>


</div>